<div
  class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4 p-4 bg-[#FAFAFA]"
>
  @for(product of filteredProducts ; track product.id){
  <a
    [routerLink]="['/details', product.id]"
    class="flex justify-center"
    [ngClass]="{ block: true }"
  >
    <div class="bg-[#F2F2F2] shadow-sm overflow-hidden w-full max-w-xs">
      <div class="relative">
        <img
          [src]="product.image"
          [alt]="product.title"
          class="w-full h-48 object-cover"
        />
      </div>
      <div class="p-4">
        <div class="flex justify-between items-center mb-2">
          <span class="text-gray-800 font-semibold">
            <span class="text-sm text-gray-500 align-top">EGP</span>
            <span class="text-3xl">{{ product.price | number : "1.0-0" }}</span>
            <span class="text-sm text-gray-500 align-top">
              {{ product.price | number : ".2-2" | slice : -3 }}
            </span>
          </span>
        </div>

        <h3
          class="text-gray-900 font-semibold text-md truncate overflow-hidden whitespace-nowrap mb-2"
        >
          {{ product.title }}
        </h3>
        <div class="flex items-center mb-2">
          <div class="flex items-center text-yellow-500">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
              <i
                class="fas fa-star"
                [ngClass]="{
                  'text-yellow-500': product.rating.rate >= star,
                  'text-gray-300': product.rating.rate < star
                }"
              ></i>
            </ng-container>
          </div>
          <span class="text-gray-600 text-sm ml-2">{{
            product.rating.count
          }}</span>
        </div>
      </div>
    </div>
  </a>
  }
</div>
