<div class=" m-auto mb-16 ">
  <div class="carousel-section bg-slate-200 py-32">
    <app-product-carousel></app-product-carousel>
  </div>
  <div class="cards-section flex gap-5 my-32 container m-auto ">
    <app-product-card title="Gaming accessories" category="electronics"></app-product-card>
    <app-product-card category="men's clothing"></app-product-card>
    <app-product-card category="women's clothing"></app-product-card>
    <app-product-card category="jewelery"></app-product-card>
  </div>

  <div class="container mx-auto px-4 py-8">
    <app-electronics-section></app-electronics-section>
    <app-clothing-section class="mt-8"></app-clothing-section>
  </div>
  <div class="container mx-auto px-4 py-8">
    <!-- Other sections -->
    <app-top-brands-section class="mt-8"></app-top-brands-section>
  </div>
  
</div>
