<div class="bg-gray-50 p-6">
    <h2 class="text-2xl font-bold mb-6 text-gray-800">Top Brands</h2>
    
    <div class="grid grid-cols-2 md:grid-cols-3 gap-6 mb-6">
      @for ( brand of topBrands.slice(0, 6); track $index) {
        <div  class="relative bg-white p-4 rounded-lg shadow-lg overflow-hidden">
          <img [src]="brand.logo" alt="{{ brand.name }}" class=" inset-0 w-full h-full object-cover z-0">
          <!-- <div class="relative z-10 p-4">
            <h3 class="text-lg font-semibold text-gray-700">{{ brand.name }}</h3>
            <div class="mt-2">
              <h4 class="text-md font-semibold text-gray-600">Popular Products:</h4>
              <ul>
                <li *ngFor="let product of brand.popularProducts" class="text-sm text-gray-500">{{ product }}</li>
              </ul>
            </div>
          </div> -->
        </div>
      }
    
    </div>
  
    <div class="grid grid-cols-2 md:grid-cols-2 gap-6">
      @for (brand of topBrands.slice(6, 10); track $index) {
        <div  class="relative bg-white p-4 rounded-lg shadow-lg overflow-hidden">
          <img [src]="brand.logo" alt="{{ brand.name }}" class=" inset-0 w-full h-full object-cover z-0">
         
        </div>
      }
     
    </div>
  </div>
  