<nav class="bg-[#232F3E] py-2 px-4 flex justify-between items-center">
  <div class="hidden md:flex space-x-4 text-white">
    <button class="flex items-center">
      <i class="fas fa-bars mr-2"></i>
      <a href="#" class="hover:text-gray-400">All</a>
    </button>
    <li><a href="#" class="hover:text-gray-400">Mobile Phones</a></li>
    <li><a href="#" class="hover:text-gray-400">Electronics</a></li>
    <li><a href="#" class="hover:text-gray-400">Fashion</a></li>
    <li><a href="#" class="hover:text-gray-400">Home</a></li>
  </div>
</nav>
